<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcoj.dao.ExaminationProblemMapper">
    <resultMap id="BaseResultMap" type="com.dcoj.entity.ExaminationProblemEntity">
        <id column="exam_id" property="examId" jdbcType="INTEGER"/>
        <id column="problem_type" property="problemType" jdbcType="INTEGER"/>
        <id column="problem_id" property="problemId" jdbcType="INTEGER"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="lang" property="lang" jdbcType="VARCHAR"/>
        <result column="exam_problem_locate" property="examProblemLocate" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        exam_id, problem_type, problem_id, score, lang, exam_problem_locate
    </sql>
    <select id="listByExamId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM examination_problem
        WHERE examination_problem.exam_id = #{examId}
    </select>
    <update id="updateByLocateSelective" parameterType="com.dcoj.entity.ExaminationProblemEntity">
        UPDATE examination_problem
        <set>
        <if test="problemType != null">
            problem_type = #{problemType},
        </if>
        <if test="problemId != null">
            problem_id = #{problemId},
        </if>
        <if test="score != null">
            score = #{score},
        </if>
        <if test="lang != null">
            lang = #{lang}
        </if>
        </set>
        WHERE examination_problem.exam_problem_locate = #{examProblemLocate}
    </update>

    <insert id="saveAll" parameterType="java.util.List">
        INSERT INTO examination_problem(
        <include refid="Base_Column_List"/>
        )
        VALUES
        <foreach collection="list" item="examProblem" index="index" separator=",">
            (
            #{examProblem.examId},#{examProblem.problemType},#{examProblem.problemId},#{examProblem.score},#{examProblem.lang},#{examProblem.examProblemLocate}
            )
        </foreach>

    </insert>

    <select id="listAll" resultType="java.util.HashMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM examination_problem
    </select>

    <select id="listByExamProblemLocate" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM examination_problem
        WHERE examination_problem.exam_problem_locate = #{examProblemLocate}
    </select>

    <delete id="removeByExamProblemLocate" parameterType="java.lang.Integer">
        DELETE FROM examination_problem
        WHERE examination_problem.exam_problem_locate = #{examProblemLocate}
    </delete>
</mapper>