<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcoj.dao.ObjectProblemTagMapper" >
  <resultMap id="BaseResultMap" type="com.dcoj.entity.ObjectProblemTagEntity" >
    <result column="object_problem_id" property="objectProblemId" jdbcType="INTEGER" />
    <result column="object_tag_id" property="objectTagId" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="deleted" jdbcType="INTEGER" />
  </resultMap>

  <insert id="save" >
    insert into object_problem_tag (object_problem_id,object_tag_id,gmt_create,gmt_modified) values (#{objectProblemId}, #{objectTagId},DATE_FORMAT(NOW(), '%Y-%m-%d %H:%m:%s'),DATE_FORMAT(NOW(), '%Y-%m-%d %H:%m:%s'))
  </insert>

  <select id="countTagsByObjectProblemId"  resultType="Integer">
    select count(*) from object_problem_tag where is_deleted = 0 and object_problem_id = #{objectProblemId}
  </select>

  <select id="getTagsByObjectProblemId" resultType="Integer">
    select
           object_tag_id
    from object_problem_tag where is_deleted = 0 and object_problem_id = #{objectProblemId}
  </select>

  <update id="removeProblemAllTags">
    update object_problem_tag
    <set>
      is_deleted = 1
    </set>
    where object_problem_id = #{objectProblemId} and is_deleted = 0
  </update>

</mapper>