<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcoj.dao.ObjectSubmissionMapper">
    <resultMap id="BaseResultMap" type="com.dcoj.entity.ObjectSubmissionEntity">
        <id column="object_submit_id" jdbcType="INTEGER" property="objectSubmitId"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="object_problem_id" jdbcType="INTEGER" property="objectProblemId"/>
        <result column="result_status" jdbcType="TINYINT" property="resultStatus"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
        <result column="queryable_time" jdbcType="TIMESTAMP" property="queryableTime"/>
        <result column="score" jdbcType="TINYINT" property="score"/>
    </resultMap>
    <!--自定义SQL:Begin-->
    <insert id="insert" parameterType="com.dcoj.entity.ObjectSubmissionEntity" useGeneratedKeys="true"
            keyProperty="objectSubmitId">
        insert into object_submission (object_submit_id, uid, object_problem_id,
        result_status, answer, queryable_time,
        score)
        values (#{objectSubmitId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{objectProblemId,jdbcType=INTEGER},
        #{resultStatus,jdbcType=TINYINT}, #{answer,jdbcType=VARCHAR}, #{queryableTime,jdbcType=TIMESTAMP},
        #{score,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.dcoj.entity.ObjectSubmissionEntity" useGeneratedKeys="true"
            keyProperty="objectSubmitId">
        insert into object_submission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="objectSubmitId != null">
                object_submit_id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="objectProblemId != null">
                object_problem_id,
            </if>
            <if test="resultStatus != null">
                result_status,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="queryableTime != null">
                queryable_time,
            </if>
            <if test="score != null">
                score,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="objectSubmitId != null">
                #{objectSubmitId,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="objectProblemId != null">
                #{objectProblemId,jdbcType=INTEGER},
            </if>
            <if test="resultStatus != null">
                #{resultStatus,jdbcType=TINYINT},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="queryableTime != null">
                #{queryableTime,jdbcType=TIMESTAMP},
            </if>
            <if test="score != null">
                #{score,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <!--自定义SQL:End-->
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        object_submit_id, uid, object_problem_id, result_status,
        answer, queryable_time, score
    </sql>
    <select id="selectByExample" parameterType="com.dcoj.entity.example.ObjectSubmissionEntityExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from object_submission
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from object_submission
        where object_submit_id = #{objectSubmitId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from object_submission
        where object_submit_id = #{objectSubmitId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.dcoj.entity.example.ObjectSubmissionEntityExample">
        delete from object_submission
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <!--
            已被重写
    <insert id="insert" parameterType="com.dcoj.entity.ObjectSubmissionEntity" useGeneratedKeys="true" keyProperty="objectSubmitId">
      insert into object_submission (object_submit_id, uid, object_problem_id,
        result_status, answer, queryable_time,
        score)
      values (#{objectSubmitId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{objectProblemId,jdbcType=INTEGER},
        #{resultStatus,jdbcType=TINYINT}, #{answer,jdbcType=VARCHAR}, #{queryableTime,jdbcType=TIMESTAMP},
        #{score,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.dcoj.entity.ObjectSubmissionEntity" useGeneratedKeys="true" keyProperty="objectSubmitId">
      insert into object_submission
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="objectSubmitId != null">
          object_submit_id,
        </if>
        <if test="uid != null">
          uid,
        </if>
        <if test="objectProblemId != null">
          object_problem_id,
        </if>
        <if test="resultStatus != null">
          result_status,
        </if>
        <if test="answer != null">
          answer,
        </if>
        <if test="queryableTime != null">
          queryable_time,
        </if>
        <if test="score != null">
          score,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="objectSubmitId != null">
          #{objectSubmitId,jdbcType=INTEGER},
        </if>
        <if test="uid != null">
          #{uid,jdbcType=INTEGER},
        </if>
        <if test="objectProblemId != null">
          #{objectProblemId,jdbcType=INTEGER},
        </if>
        <if test="resultStatus != null">
          #{resultStatus,jdbcType=TINYINT},
        </if>
        <if test="answer != null">
          #{answer,jdbcType=VARCHAR},
        </if>
        <if test="queryableTime != null">
          #{queryableTime,jdbcType=TIMESTAMP},
        </if>
        <if test="score != null">
          #{score,jdbcType=TINYINT},
        </if>
      </trim>
    </insert> -->
    <select id="countByExample" parameterType="com.dcoj.entity.example.ObjectSubmissionEntityExample"
            resultType="java.lang.Long">
        select count(*) from object_submission
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update object_submission
        <set>
            <if test="record.objectSubmitId != null">
                object_submit_id = #{record.objectSubmitId,jdbcType=INTEGER},
            </if>
            <if test="record.uid != null">
                uid = #{record.uid,jdbcType=INTEGER},
            </if>
            <if test="record.objectProblemId != null">
                object_problem_id = #{record.objectProblemId,jdbcType=INTEGER},
            </if>
            <if test="record.resultStatus != null">
                result_status = #{record.resultStatus,jdbcType=TINYINT},
            </if>
            <if test="record.answer != null">
                answer = #{record.answer,jdbcType=VARCHAR},
            </if>
            <if test="record.queryableTime != null">
                queryable_time = #{record.queryableTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.score != null">
                score = #{record.score,jdbcType=TINYINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update object_submission
        set object_submit_id = #{record.objectSubmitId,jdbcType=INTEGER},
        uid = #{record.uid,jdbcType=INTEGER},
        object_problem_id = #{record.objectProblemId,jdbcType=INTEGER},
        result_status = #{record.resultStatus,jdbcType=TINYINT},
        answer = #{record.answer,jdbcType=VARCHAR},
        queryable_time = #{record.queryableTime,jdbcType=TIMESTAMP},
        score = #{record.score,jdbcType=TINYINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.dcoj.entity.ObjectSubmissionEntity">
        update object_submission
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="objectProblemId != null">
                object_problem_id = #{objectProblemId,jdbcType=INTEGER},
            </if>
            <if test="resultStatus != null">
                result_status = #{resultStatus,jdbcType=TINYINT},
            </if>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="queryableTime != null">
                queryable_time = #{queryableTime,jdbcType=TIMESTAMP},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=TINYINT},
            </if>
        </set>
        where object_submit_id = #{objectSubmitId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dcoj.entity.ObjectSubmissionEntity">
        update object_submission
        set uid = #{uid,jdbcType=INTEGER},
        object_problem_id = #{objectProblemId,jdbcType=INTEGER},
        result_status = #{resultStatus,jdbcType=TINYINT},
        answer = #{answer,jdbcType=VARCHAR},
        queryable_time = #{queryableTime,jdbcType=TIMESTAMP},
        score = #{score,jdbcType=TINYINT}
        where object_submit_id = #{objectSubmitId,jdbcType=INTEGER}
    </update>
</mapper>