<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dcoj.dao.ProgramTagMapper">

    <sql id="Base_Column_List">
        program_tag_id, tag_name, used_times, gmt_create, gmt_modified, is_deleted
    </sql>

    <resultMap id="tagResultMap" type="ProgramTagEntity">
        <id column="program_tag_id" property="programTagId"/>
        <result column="tag_name" property="tagName"/>
        <result column="used_times" property="usedTimes"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" javaType="java.sql.Timestamp"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" javaType="java.sql.Timestamp"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <insert id="save">
        insert into program_tag (tag_name, gmt_create, gmt_modified)
        values (#{tagName}, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%m:%s'), DATE_FORMAT(NOW(), '%Y-%m-%d %H:%m:%s'))
    </insert>

    <select id="getByTagName" resultMap="tagResultMap">
        select
        <include refid="Base_Column_List"/>
        from program_tag where is_deleted = 0 and tag_name = #{tagName}
    </select>

    <select id="getByPrimaryKey" resultMap="tagResultMap">
        select
        <include refid="Base_Column_List"/>
        from program_tag where is_deleted = 0 and program_tag_id = #{programTagId}
    </select>

    <update id="removeByTagName">
        update program_tag
        <set>
            is_deleted = 1
        </set>
        where tag_name = #{tagName} and is_deleted = 0
    </update>

    <update id="removeByPrimaryKey">
        update program_tag
        <set>
            is_deleted = 1
        </set>
        where program_tag_id = #{programTagId} and is_deleted = 0
    </update>

    <select id="listAll" resultMap="tagResultMap">
        select
        <include refid="Base_Column_List"/>
        from program_tag where is_deleted = 0
    </select>

    <update id="updateByPrimaryKey">
        update program_tag
        <set>
            <if test="newName != null">tag_name = #{newName}</if>
        </set>
        where program_tag_id = #{programTagId} and is_deleted = 0
    </update>

    <update id="updateTagUsedTimes">
        update program_tag
        <set>
            <choose>
                <when test="flag == true">
                    used_times = used_times + 1
                </when>
                <otherwise>
                    used_times = used_times - 1
                </otherwise>
            </choose>
        </set>
        where program_tag_id = #{programTagId} and is_deleted = 0 and used_times >= 0
    </update>

    <select id="countTags" resultType="Integer">
        select count(*)
        from program_tag
        where is_deleted = 0
    </select>
</mapper>

