<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dcoj.dao.TagMapper">

    <sql id="Base_Column_List">
        tid, tag_name, used_times, gmt_create, gmt_modified, is_deleted
    </sql>

    <resultMap id="tagResultMap" type="TagEntity">
        <id column="tid" property="tid"/>
        <result column="tag_name" property="tagName"/>
        <result column="used_times" property="usedTimes"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="createTime" javaType="java.sql.Timestamp"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="modifiedTime" javaType="java.sql.Timestamp"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <insert id="save">
        insert into tag (tag_name, gmt_create, gmt_modified)
        values (#{tagName}, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%m:%s'), DATE_FORMAT(NOW(), '%Y-%m-%d %H:%m:%s'))
    </insert>

    <select id="getByName" resultMap="tagResultMap">
        select
        <include refid="Base_Column_List"/>
        from tag where is_deleted = 0 and tag_name = #{tagName}
    </select>

    <select id="getById" resultMap="tagResultMap">
        select
        <include refid="Base_Column_List"/>
        from tag where is_deleted = 0 and tid = #{tid}
    </select>

    <update id="removeByTagName">
        update tag
        <set>
            is_deleted = 1
        </set>
        where tag_name = #{tagName} and is_deleted = 0
    </update>

    <update id="removeById">
        update tag
        <set>
            is_deleted = 1
        </set>
        where tid = #{tid} and is_deleted = 0
    </update>

    <select id="listAll" resultMap="tagResultMap">
        select
        <include refid="Base_Column_List"/>
        from tag where is_deleted = 0
    </select>

    <update id="updateByTid">
        update tag
        <set>
            <if test="tagName != null">tag_name = #{tagName}</if>
        </set>
        where tid = #{tid} and is_deleted = 0
    </update>

    <update id="updateTagUsedTimes">
        update tag
        <set>
            <choose>
                <when test="flag == true">
                    used_times = used_times + 1
                </when>
                <otherwise>
                    used_times = used_times - 1
                </otherwise>
            </choose>
        </set>
        where tid = #{tid} and is_deleted = 0 and used_times >= 0
    </update>

    <select id="countTags" resultType="Integer">
        select count(*)
        from tag
        where is_deleted = 0
    </select>
</mapper>

